@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* { margin: 0 auto; }
body { font-family: 'Open Sans', sans-serif; color: #333; font-size: 13px; }
a { text-decoration: none; color: #2980b9; }
#main { margin: 20px auto; border: 1px solid #DDD; padding: 20px; height: 100%; width: 50%; margin-top: 30px; }
#feed { overflow: hidden; height: 200px; }
#feed p { border-bottom: 1px dotted #DDD; margin-bottom: 10px; padding-bottom: 14px; }